<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="UploadToRemoteCommand" xsi:type="object">Jh\StrippedDbProvider\Console\UploadToRemoteCommand</item>
                <item name="ImportFromRemoteCommand" xsi:type="object">Jh\StrippedDbProvider\Console\ImportFromRemoteCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="stripped_db_provider/storage/access_key_id" xsi:type="string">1</item>
                <item name="stripped_db_provider/storage/secret_access_key" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
    <type name="Jh\StrippedDbProvider\Console\UploadToRemoteCommand">
        <arguments>
            <argument name="dbFacade" xsi:type="object">Jh\StrippedDbProvider\Model\DbFacade\Proxy</argument>
            <argument name="config" xsi:type="object">Jh\StrippedDbProvider\Model\Config\Proxy</argument>
        </arguments>
    </type>
    <type name="Jh\StrippedDbProvider\Console\ImportFromRemoteCommand">
        <arguments>
            <argument name="dbFacade" xsi:type="object">Jh\StrippedDbProvider\Model\DbFacade\Proxy</argument>
        </arguments>
    </type>
</config>
