<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="wearejh" translate="label" sortOrder="100">
            <label>JH Modules</label>
        </tab>
        <section id="stripped_db_provider" translate="label" type="text" sortOrder="1" showInDefault="1">
            <tab>wearejh</tab>
            <label>Stripped DB Backups</label>
            <resource>Jh_StrippedDbProvider::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Enable Automatic Stripped DB Uploads</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="project_name" translate="label comment" type="text" sortOrder="20" showInDefault="1">
                    <label>Project Name</label>
                    <comment><![CDATA[Identifiable name for the project. Eg. grace_hopper_boutique]]></comment>
                    <tooltip>Used for naming the file in the S3 Bucket</tooltip>
                </field>
            </group>
            <group id="storage" translate="label" type="text" sortOrder="20" showInDefault="1">
                <label>Amazon S3 Bucket Settings</label>
                <field id="bucket_name" translate="label comment" type="text" sortOrder="10" showInDefault="1">
                    <label>Bucket Name</label>
                    <comment><![CDATA[Please enter your AWS S3 Bucket Name.]]></comment>
                </field>
                <field id="region" translate="label comment" type="text" sortOrder="10" showInDefault="1">
                    <label>Bucket Region</label>
                    <comment><![CDATA[Please enter your AWS S3 Bucket Region. Eg. eu-west-2]]></comment>
                </field>
                <field id="access_key_id" translate="label comment" type="obscure" sortOrder="20" showInDefault="1">
                    <label>Access Key ID</label>
                    <comment><![CDATA[Please enter your AWS S3 Bucket Access Key ID.]]></comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="secret_access_key" translate="label comment" type="obscure" sortOrder="30" showInDefault="1">
                    <label>Secret Access Key</label>
                    <comment><![CDATA[Please enter your AWS S3 Bucket Secret Access Key.]]></comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>
            <group id="cron" translate="label" type="text" sortOrder="30" showInDefault="1">
                <label>Uploads Run Settings</label>
                <field id="frequency" translate="label" type="select" showInDefault="1" sortOrder="10">
                    <label>Frequency</label>
                    <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                    <backend_model>Jh\StrippedDbProvider\Model\Config\Backend\Frequency</backend_model>
                </field>
                <field id="time" translate="label" type="time" sortOrder="20" showInDefault="1">
                    <label>Start Time</label>
                </field>
            </group>
        </section>
    </system>
</config>
